<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between w-100">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="/Dashboard">
                <img src="~/regal-1.0.0/images/logo.svg" alt="logo" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="/Dashboard">
                <img src="~/regal-1.0.0/images/logo-mini.svg" alt="logo" />
            </a>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-grow-1">
            <div class="input-group" style="max-width: 400px; width: 100%;">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark border-secondary">
                        <i class="icon-search text-light"></i>
                    </span>
                </div>
                <input type="text" class="form-control bg-dark border-secondary text-light"
                       placeholder="Tur, Admin, Sponsor ara..."
                       style="border-left: none;">
            </div>
        </div>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" data-toggle="dropdown">
                    <i class="bi bi-person-circle me-2" style="font-size: 24px;"></i>
                    <span class="text-light">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
                    <a class="dropdown-item d-flex align-items-center" href="/Account/Profile">
                        <i class="bi bi-person me-2"></i>
                        Profil
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="/Account/Settings">
                        <i class="bi bi-gear me-2"></i>
                        Ayarlar
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item d-flex align-items-center text-danger" href="/Account/Logout">
                        <i class="bi bi-box-arrow-right me-2"></i>
                        Çıkış Yap
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>