<section class="newsletter-section" id="contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3>Özel Fırsatlardan Haberdar Olun</h3>
                <p>Son haberler ve özel teklifleri e-posta ile almak için abone olun. Kampanyaları kaçırmayın!</p>
            </div>
            <div class="col-lg-6">
                <form class="d-flex gap-3">
                    <input type="email" class="form-control" placeholder="E-posta adresinizi girin" required>
                    <button type="submit" class="btn">Abone Ol</button>
                </form>
            </div>
        </div>
    </div>
</section>
