<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5>Acunmedya Travel</h5>
                <p>Dünyayı keşfetmenin en güzel yolu bizimle başlar. Unutulmaz anılar için doğru adrestesiniz.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>Keşfet</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#services">Hizmetlerimiz</a></li>
                    <li class="mb-2"><a href="#booking">Turlar</a></li>
                    <li class="mb-2"><a href="#">Hakkımızda</a></li>
                    <li class="mb-2"><a href="#">İletişim</a></li>
                </ul>
            </div>
            <div class="col-lg-4 mb-4">
                <h5>Bizi Takip Edin</h5>
                <div class="social-icons">
                    <a href="#"><i class="bi bi-google-play"></i></a>
                    <a href="#"><i class="bi bi-apple"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p>&copy; 2024 Acunmedya Travel. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>
